extends ./layout.pug
block contenido
  .container.min-vh-100
    .container.min-vh-100.d-flex.justify-content-center.align-items-center
      form.col-6(action="/sessions" method="POST")
        .form-group
          label(for="email") Email
          input.form-control(name="email" type="email" placeholder="Email")
        .form-group
          label(for="pass") Contraseña  
          input.form-control(name="pass" type="password" placeholder="Contraseña")
        .form-group.d-flex.justify-content-between.mt-2
          button.btn.btn-success(type="submit") Iniciar sesion
          a.btn.btn-outline-primary(href="/signup") No tengo cuenta