extends ./layout.pug
block contenido
  .container.min-vh-100
    .container.min-vh-100.d-flex.justify-content-center.align-items-center
      form.col-6(action="/users" method="POST")
        .form-group
          label(for="email") Usuario
          input.form-control(name="email" type="email" placeholder="Email")
        .form-group
          label(for="password") Contrase単a  
          input.form-control(name="password" type="password" placeholder="Contrase単a")
        .form-group
          label(for="password_confirmation") Confirmar contrase単a
          input.form-control(name="password_confirmation" type="password" placeholder="Confirmar contrase単a")
        .form-group.d-flex.justify-content-between.mt-2
          input.btn.btn-success(type="submit" value="Registrarme")
          a.btn.btn-outline-primary(href="/login") Ya tengo cuenta